<!DOCTYPE html>
<html lang="ko" xmlns:th="http:/www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/default_layout}">

<head>
  <title>SIMPLE WEB SITE</title>
</head>

<body layout:fragment="content">
<section class="d-flex justify-content-center">
  <div class="container-md mt-5"> 
    <div class="form-control text-center">
      <p class="h3 p-2">로그인</h1>
      <p class="px-2">회원 정보를 아래에 입력 해 주세요</p>
      <input type="text" id="username" class="form-control my-2" placeholder="사용자 이름">
      <input type="password" id="password" class="form-control my-2" placeholder="비밀번호">      
      <button type="button" onclick="sign.in()" class="btn btn-primary m-2">로그인</button>
    </div>
  </div>
</section>

<script type="text/javascript">
  const sign = {
    in: function() {
      const username = $('#username').val();
      const password = $('#password').val();
      const data = {
        username : username,
        password : password
      };

      console.log(data);
      if (username == "") {
        alert('아이디를 입력 해 주세요.');
        return;
      }

      if (password == "") {
        alert('비밀번호를 입력 해 주세요.');
        return;
      }

      $.ajax({
        type: 'post',
        async: true,
        url: '/api/user/auth',
        contentType: 'application/json',
        dataType: 'text',
        data: JSON.stringify(data),
        success: (data) => {
          alert("회원가입을 성공적으로 완료했습니다.");
          localStorage.setItem("Authorization", JSON.stringify(data));
          window.location.href="/";
        },
        error: (error) => {
          alert("자격 증명에 실패했습니다.")
        }  
      });

    }
  }
</script>
</body>

</html> 